@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">QueryString &quot;key&quot; security</h1>
    <p>This page allows anonymous access, but any other requires any of the allowed keys setup in <code>appsettings.json:AllowedKeys</code>.</p>
    <p>For example, the <a href="/Privacy">Privacy</a> page fails unless you put an allowed <strong>key</strong> in the query string.</p>
</div>